.marquee {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 62px;
    background: linear-gradient(to right, #142d2900 1%, #ffffff1f 20%, #ffffff1f 40%, #ffffff1f 60%, #ffffff1f 80%, #142d2900 100%);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 92%;
    left: 0;
    z-index: 1;
    transform: rotate(-3deg);
    overflow: hidden;
    flex-wrap: nowrap;

    .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 56px;
        width: 100%;
        height: 62px;
        
        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #3DCFB6;
            font-family: 'Karla';
            font-weight: 400;
            font-size: 32px;
            line-height: 38.4px;
            text-wrap: nowrap;
        }

        .first{
            margin-left: 56px;
        }

        .dot {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background-color: #3DCFB6;
        }
    }
}