<div id="contactme">
    <div class="contactInfo">
        <span>{{contactMe}}</span>
        <h1>{{working}}</h1>
        <span class="problem">{{problem}}</span>
        <span class="white">{{contactThrougth}}</span>
        <span class="white">{{developer}} <p>{{talk}}</p></span>
    </div>
    <div class="contactForm">
        <div class="input">
            <span>{{whatsName}}</span>
            <input type="text" [ngClass]="dataCheck == true ? 'contactInput' : 'contactInputRed'" [(ngModel)]="name" [placeholder]="pname" #nameType>
        </div>
        <div class="input">
            <span>{{whatsEmail}}</span>
            <input type="text" [ngClass]="dataCheck == true ? 'contactInput' : 'contactInputRed'" (input)="ValidateEmail(email)" [(ngModel)]="email" [placeholder]="pemail" #emailType>
        </div>
        <div class="input">
            <span>{{whatsHelp}}</span>
            <input type="text" [ngClass]="dataCheck == true ? 'contactInput' : 'contactInputRed'" [(ngModel)]="help" [placeholder]="phelp" #helpType>
        </div>
        <div class="input noneBorder">
            <label class="container">
                <input type="checkbox"  [(ngModel)]="checkBox">
                <span class="checkmark"></span>
            </label>
            <span class="policy">{{ppFirst}} <a href="#policy">{{ppSecond}}</a> {{ppThird}}
                <p class="no" #accept>{{acceptFailed}}</p>
            </span>
        </div>
        <div class="send">
            <div class="button" (click)="sendMail(name, email, help, checkBox)">{{hello}} ;)</div>
        </div>
    </div>
</div>