<div>
    <div class="contactInfo">
        <span>Contact me</span>
        <h1>Let's work together</h1>
        <span class="problem">Got a problem to solve?</span>
        <span class="white">Contact me througth this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</span>
        <span class="white">Need a Frontend developer? <p>Let's Talk!</p></span>
    </div>
    <div class="contactForm">
        <div class="input">
            <span>What's your name?</span>
            <input type="text" [ngClass]="dataCheck == true ? 'contactInput' : 'contactInputRed'" [(ngModel)]="name" [placeholder]="pname" #nameType>
        </div>
        <div class="input">
            <span>What's your email?</span>
            <input type="text" [ngClass]="dataCheck == true ? 'contactInput' : 'contactInputRed'" [(ngModel)]="email" [placeholder]="pemail" #emailType>
        </div>
        <div class="input">
            <span>How can I help you?</span>
            <input type="text" [ngClass]="dataCheck == true ? 'contactInput' : 'contactInputRed'" [(ngModel)]="help" [placeholder]="phelp" #helpType>
        </div>
        <div class="input noneBorder">
            <label class="container">
                <input type="checkbox"  [(ngModel)]="checkBox">
                <span class="checkmark"></span>
            </label>
            <span class="policy">I've read the <a>privacy policy</a> and agree to the processing of my data as outlined.
                <p class="no" #accept>Bitte Akzeptieren</p>
            </span>
        </div>
        <div class="send">
            <div class="button" (click)="sendMail(name, email, help, checkBox)">Say Hello ;)</div>
        </div>
    </div>
</div>