div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 900px;
    position: relative;

    >div{
        width: 1248px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
    }
}