div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    max-height: 900px;
    height: 100vh;
    position: relative;

    .header{
        position: absolute;
        top: 215px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    >div{
        width: 1248px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
    }
}

@media (max-width: 1440px){
    div{
        width: 100vw;

        >div{
            width: 80vw;
        }
    }
}

@media (max-width: 660px){
    div{
        .header{
            top: 50%;
            transform: translate(-50%, -80%);
        }
    }
}

@media (max-height: 600px){
    div{
        .header{
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}