div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 32px;
    height: 480px;
    position: relative;
    bottom: 0;
    z-index: 0;

    .email {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(270deg);
        position: absolute;
        bottom: 415px;
        width: 260px;
        height: 22px;

        >a{
            color: #FFFFFF;
            font-family: 'Karla';
            font-weight: 400;
            font-size: 18px;
            line-height: 21.6px;
            text-decoration: none;
            transition: all 125ms ease-in-out;

            &:hover{
                color: #3DCFB6;
            }
        }
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 32px;
        height: 76px;
        gap: 12px;
        position: absolute;
        bottom: 210px;

        >a {
            width: 32px;
            height: 32px;

            >img {
                width: 32px;
                height: 32px;
            }
        }
    }

    .downLine {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 184px !important;
        border: 1px solid #FFFFFF;
        position: absolute;
        bottom: 0;
    }
}

.dotGit {
    display: none;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #3DCFB6;
    position: absolute;
    top: 13px;
    left: 40px;
}

.dotLink{
    display: none;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #3DCFB6;
    position: absolute;
    top: 56px;
    left: 40px;
}