<div>
    <div class="email">
        <a class="contact" href="mailto:developer@sven-plankenbichler.net">developer&#64;sven-plankenbichler.net</a>
        <a class="contactIMG" href="mailto:developer@sven-plankenbichler.net"><img #mailIMG src="assets/img/icons/contact.png" (mouseover)="changeMailOn()" (mouseout)="changeMailOff()"> <div class="dotMail" #mailTo></div></a>
    </div>
    <div class="links">
        <a href="https://github.com/Trouble2701?tab=repositories" title="My Github" target="_blank"><img #myGithub (mouseover)="changeGithubOn()" (mouseout)="changeGithubOff()" src="assets/img/icons/Github.png"> <div class="dotGit" #dotGit></div></a>
        <a href="https://www.linkedin.com/in/sven-plankenbichler/" title="My LinkedIn" target="_blank"><img #myLinkedIn (mouseover)="changeLinkedInOn()" (mouseout)="changeLinkedInOff()" src="assets/img/icons/Linkedin.png" title="My Linkedin"> <div class="dotLink" #dotLink></div></a>
    </div>
    <div class="downLine"></div>
</div>
