<section id="skills">
    <div>
        <div class="skillText">
            <span>Technologies</span>
            <div class="skillBox"></div>
        </div>
        <div class="allSkills">
            <div class="oneOfSkill">
                <img src="assets/img/icons/HTML.png">
                <span>HTML</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/CSS.png">
                <span>CSS</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/JavaScript.png">
                <span>JavaScript</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/MaterialDesign.png">
                <span>Material Design</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/TypeScript.png">
                <span>TypeScript</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/Angular.png">
                <span>Angular</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/Firebase.png">
                <span>Firebase</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/Git.png">
                <span>Git</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/Rest-Api.png">
                <span>Rest-Api</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/Scrum.png">
                <span>Scrum</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/GrowthMindset.png">
                <span>Growth mindset</span>
            </div>
        </div>
    </div>
</section>