<section id="skills">
    <div>
        <div class="skillText">
            <span>{{database.technologies[0]}}</span>
            <div class="skillBox">
                <div class="head">{{database.technologies[1]}}</div>
                <div class="descript">{{database.technologies[2]}}</div>
                <div class="need">{{database.technologies[3]}} <p>{{database.technologies[4]}}</p></div>
                <div class="info">{{database.technologies[5]}}</div>
                <a href="#contactme" class="button" (mouseenter)="animationOn('start')" (mouseleave)="animationOn('stop')"><span #skillButton>{{database.technologies[6]}}</span></a>
            </div>
        </div>
        <div class="allSkills">
            <div class="oneOfSkill">
                <img src="assets/img/icons/HTML.png" #1>
                <span>HTML</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/CSS.png" #2>
                <span>CSS</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/JavaScript.png" #3>
                <span>JavaScript</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/MaterialDesign.png" #4>
                <span>Material Design</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/TypeScript.png" #5>
                <span>TypeScript</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/Angular.png" #6>
                <span>Angular</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/Firebase.png" #7>
                <span>Firebase</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/Git.png" #8>
                <span>Git</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/Rest-Api.png" #9>
                <span>Rest-Api</span>
            </div>
            <div class="oneOfSkill">
                <img src="assets/img/icons/Scrum.png" #10>
                <span>Scrum</span>
            </div>
        </div>
    </div>
</section>