section {
    margin-top: 144px;
    height: 695px;

    div {
        width: 1248px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 90px;

        .skillText {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            width: 520px;

            >span {
                font-family: 'Karla';
                font-weight: 700;
                font-size: 24px;
                line-height: 28.06px;
                color: #3DCFB6;
            }

            .skillBox {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                gap: 40px;
                width: calc(520px - 64px);
                height: 80%;
                border: 1px solid #3DCFB6;
                background-color: #3DCFB61A;
                border-radius: 30px;
                padding: 32px;

                .head {
                    width: 100%;
                    height: 64px;
                    font-family: 'Fira Code';
                    font-weight: 700;
                    font-size: 64px;
                    line-height: 64px;
                    color: #3DCFB6;
                }

                .descript {
                    width: 100%;
                    height: 132px;
                    font-family: 'Karla';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21.6px;
                    text-align: justify;
                    color: #FFFFFF;
                }

                .need {
                    width: 100%;
                    height: 29px;
                    font-family: 'Fira Code';
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28.8px;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: row;
                    gap: 15px;

                    >p{
                        margin-block-start: 0;
                        margin-block-end: 0;
                        color: #3DCFB6;
                    }
                }

                .info{
                    width: 100%;
                    height: 38px; 
                    font-family: 'Karla';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19.2px;
                    color: #FFFFFF;
                }

                .button{
                    width: 150px;
                    height: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border: 1px solid #FFFFFF;
                    border-radius: 100px;
                    padding-left: 24px;
                    padding-right: 24px;
                    font-family: 'Karla';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21.6px;
                    color: #FFFFFF;
                    transition: all 125ms ease-in-out;
                    text-decoration: none;

                    &:hover{
                        border-color: #3DCFB6;
                        color: #3DCFB6;
                    }
                }
            }
        }

        .allSkills {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 72px;
            width: 632px;
            height: 428px;
            position: relative;
            top: 48px;

            .oneOfSkill {
                width: 104px;
                height: 116px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 8px;

                >img {
                    width: 64px;
                    height: 64px;
                    transition: all 125ms ease-in-out;

                    &:hover {
                        transform: scale(1.2) rotate(360deg);
                    }
                }

                >span {
                    font-family: 'Fira Code';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21.6px;
                    color: #FFFFFF;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 1300px){
    section{
        >div{
            width: 95vw;
            .allSkills{
                width: 470px;
            }
        }
    }
}

@media (max-width: 1140px){
    section{
        >div{
            width: 95vw;
            .allSkills{
                width: 470px;
            }

            .skillText{
                width: 420px;
                .skillBox{
                    width: 356px;
    
                    .head{
                        height: 55px;
                        font-size: 55px;
                        line-height: 55px;
                    }
    
                    .descript{
                        height: 200px;
                        font-size: 16px;
                    }
    
                    .need{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1020px){
    section{
        >div{
            .allSkills{
                width: 420px;
                gap: 28px;
            }

            .skillText{
                width: 320px;
                .skillBox{
                    width: 256px;
    
                    .head{
                        height: 35px;
                        font-size: 35px;
                        line-height: 35px;
                    }
    
                    .descript{
                        height: 230px;
                        font-size: 16px;
                    }
    
                    .need{
                        flex-direction: column;
                        gap: 0;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 820px){
    section{
        margin-top: 270px;
        display: flex;
        justify-content: center;
        height: 1170px;

        >div{
            height: 80%;
            align-items: center;
            flex-direction: column;
            gap: 0;

            .skillText{
                width: 90%;
                height: unset;
                align-items: center;

                .skillBox{
                    width: 394px;
                }
            }
        }
    }
}

@media (max-width: 520px){
    section{
        display: flex;
        justify-content: center;
        height: 1170px;

        >div{
            height: 80%;
            align-items: center;
            flex-direction: column;
            gap: 0;

            .skillText{
                width: 90%;
                height: unset;
                align-items: center;

                .skillBox{
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 435px) {
    section {
        margin-top: 200px;

        >div{
            .skillText{
                .skillBox{
                    width: 82%;
                    height: 85%;
                }
            }

            .allSkills{
                width: 100%;
                justify-content: center;
                gap: 16px;

                .oneOfSkill{
                    width: 90px;

                    >img{
                        width: 60px;
                        height: 60px;
                    }

                    >span{
                        font-size: 16px;
                        line-height: 19.2px;
                    }
                }
            }
        }
    }
}

@media (max-width: 360px){
    section {
        margin-top: 50px;

        >div{
            .skillText{
                .skillBox{
                    .descript{
                        height: 50%;
                    }

                    .info{
                        height: 8%;
                    }
                }
            }
        }
    }
}