div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 5px;

    .policy {
        max-width: 1248px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        color: #FFFFFF;
        font-family: 'Fira Code';

        >h1 {
            -moz-hyphens: auto;
            -o-hyphens: auto;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            font-size: 50px;
        }

        .ds {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 0;
            text-wrap: wrap;
            -moz-hyphens: auto;
            -o-hyphens: auto;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }

        .back {
            text-decoration: none;
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #FFFFFF;
            border-radius: 32px;
            font-family: 'Karla';
            font-weight: 400;
            font-size: 18px;
            margin-top: 50px;
            margin-bottom: 50px;
            transition: all 125ms ease-in-out;
            cursor: pointer;

            &:hover {
                border-color: #3DCFB6;
                color: #3DCFB6;
            }
        }
    }
}

.link {
    text-decoration: none;
    color: #FFFFFF;
    transition: all 125ms ease-in-out;

    &:hover {
        color: #3DCFB6;
    }
}

.navi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(55deg, #1C1C1C 40%, #08463B);
    margin: 0;
}

@media (max-width: 630px){
    div{
        .policy{
            >h1{
                font-size: 30px !important;
            }
        }
    }
}

@media (max-width: 440px){
    div{
        .policy{
            >h1{
                font-size: 24px !important;
            }
        }
    }
}