div{
    width: 100vw;
    margin-top: 144px;
    display: flex;
    justify-content: center;
    align-items: center;

    .impressum{
        width: 1248px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 0;
        gap: 40px;

        .header{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: 'Karla';
            font-weight: 700;
            font-size: 64px;
            line-height: 64px;
            color: #3DCFB6;
        }

        .adress{
            width: 1248px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin-top: 0;

            >span{
                font-family: 'Fira Code';
                font-weight: 400;
                font-size: 18px;
                line-height: 19.2px;
                color: #FFFFFF;
            }
        }

        >a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 100px;
            height: 40px;
            border: 1px solid #FFFFFF;
            border-radius: 32px;
            font-family: 'Karla';
            font-weight: 400;
            font-size: 18px;
            line-height: 19.2px;
            color: #FFFFFF;
            transition: all 125ms ease-in-out;
            position: relative;

            &:hover{
                border-color: #3DCFB6;
                color: #3DCFB6;
            }
        }
    }
    
}