<nav>
    <div class="menu">
        <div class="lang">
            <div class="markedBackground">
                <div class="marker" #background></div>
            </div>
            <div [ngClass]="{'marked' : database.languarge == 'EN'}" (click)="siteLangEN()">EN</div>
            <div [ngClass]="{'marked' : database.languarge == 'DE'}" (click)="siteLangDE()">DE</div>
        </div>
        <div class="sitelinks">
            @for(navLinks of database.navBar; track navLinks; let i = $index){
                <div class="navLinks">
                    <a href="#{{database.datas[1].navBar[i].toLowerCase().replace(' ', '')}}" (mouseover)="dotNavChange(i)" (mouseout)="dotNavOut()">{{navLinks}}</a>
                    <div class="dotNav" #dotNav></div>
                </div>
            }
        </div>
    </div>
    <div class="logo">
        <img src="assets/img/logo/initials.png">
        <img src="assets/img/logo/name.png">
    </div>
</nav>