<div>
    <span>{{frontend}}</span>
    <div>
        <h1>Sven Plankenbichler</h1>
        <div>
            <a class="headlineButton" href="#projects" (mouseenter)="animationOn('start', 'project')" (mouseleave)="animationOn('stop', 'project')"><span #projectSpan>{{project}}</span></a>
            <a class="headlineButton" href="#contactme" (mouseenter)="animationOn('start', 'contact')" (mouseleave)="animationOn('stop', 'contact')"><span #contactSpan>{{contact}}</span></a>
        </div>
    </div>
</div>