<section id="aboutme">
    <div>
        <div class="imgContainer">
            <img class="profil" src="assets/img/sites/profil.png" alt="">
        </div>
        <div class="personInfo">
            <span>{{database.whoIam[0]}}</span>
            <div class="aboutMe">
                <div class="head">{{database.whoIam[1]}}</div>
                <div class="personalInfo">{{database.whoIam[2]}} {{myAge}}{{database.whoIam[3]}}</div>
                <div class="details">
                    <div class="oneDetail">
                        <img src="assets/img/icons/flexible.png">
                        <span>{{database.whoIam[4]}}</span>
                    </div>
                    <div class="oneDetail">
                        <img src="assets/img/icons/fast.png">
                        <span>{{database.whoIam[5]}}</span>
                    </div>
                    <div class="oneDetail">
                        <img src="assets/img/icons/creativ.png">
                        <span>{{database.whoIam[6]}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>