footer {
    overflow-x: hidden;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1248px;
        height: 126px;

        .footerName {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 132px;

            .footerLeftImg {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                cursor: pointer;
                transition: all 125ms ease-in-out;

                &:hover {
                    filter: drop-shadow(6px 4px 2px rgba(255, 255, 255, 0.2))
                        /* Mehrere drop-shadow-Effekte */
                }
            }

            .footerLeft {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
                gap: 8px;

                >span {
                    color: #FFFFFF;
                    font-family: 'Karla';
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        .copyright {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #3DCFB6;
            font-family: 'Fira Code';
            font-weight: 400;
            font-size: 18px;
            line-height: 21.6px;
            text-align: center;
        }

        .footerRightLinks {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-direction: column;
            width: 95px;
            gap: 8px;
            text-wrap: nowrap;

            .footerSiteLinks {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                gap: 5px;
                transition: all 125ms ease-in-out;

                .dot {
                    width: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 4px !important;
                    height: 4px !important;
                    border-radius: 8px;
                    background-color: transparent;
                }

                >a {
                    font-size: 16px;
                    font-family: 'Karla';
                    font-weight: 400;
                    line-height: 19.2px;
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all 125ms ease-in-out;
                    cursor: pointer;

                    &:hover {
                        color: #3DCFB6
                    }
                }
            }
        }
    }

    .copyrightMobile {
        display: none;
        justify-content: center;
        align-items: center;
        color: #3DCFB6;
        font-family: 'Fira Code';
        font-weight: 400;
        font-size: 18px;
        line-height: 21.6px;
        text-align: center;
    }
}

.posBottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.posUnset{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

@media (max-width: 1300px) {
    footer {
        >div {
            width: 85vw;
        }
    }
}

@media (max-width: 830px) {
    footer {
        flex-direction: column;
        justify-content: space-evenly;
        height: 300px;
        margin-top: 80px;

        >div {
            .copyright {
                display: none;
            }
        }

        .copyrightMobile {
            display: flex;
        }
    }
}

@media (max-width: 400px) {
    footer {
        >div {
            .footerName {
                .footerLeftImg {
                    .name {
                        display: none;
                    }
                }
            }
        }
    }
}