<footer>
    <div>
        <div class="footerName">
            <div (click)="top()" class="footerLeftImg">
                <img src="assets/img/logo/initials.png"><img src="assets/img/logo/name.png">
            </div>
            <div class="footerLeft">
                <span>Web Developer</span>
                <span>Dresden Germany</span>
            </div>
        </div>
        <div class="copyright">&copy; Sven Plankenbichler 2024</div>
        <div class="footerRightLinks">
            <div class="footerSiteLinks">
                <div class="dot" #github></div>
                <a (mouseenter)="showDot('github')" (mouseleave)="showDontDot()" href="https://github.com/Trouble2701?tab=repositories" title="My Github" target="_blank">Github</a>
            </div>
            <div class="footerSiteLinks">
                <div class="dot" #link></div>
                <a (mouseenter)="showDot('link')" (mouseleave)="showDontDot()">LinkedIn</a>
            </div>
            <div class="footerSiteLinks">
                <div class="dot" #email></div>
                <a (mouseenter)="showDot('email')" (mouseleave)="showDontDot()" href="#contact">Email</a>
            </div>
            <div class="footerSiteLinks">
                <div class="dot" #imprint></div>
                <a (mouseenter)="showDot('imprint')" (mouseleave)="showDontDot()">{{notice}}</a>
            </div>
        </div>
    </div>
</footer>
