<footer>
    <div>
        <div class="footerName">
            <div (click)="top()" class="footerLeftImg" title="go to Start">
                <img src="assets/img/logo/initials.png"><img class="name" src="assets/img/logo/name.png">
            </div>
            <div class="footerLeft">
                <span>Web Developer</span>
                <span>Dresden Germany</span>
            </div>
        </div>
        <div class="copyright">&copy; Sven Plankenbichler 2024</div>
        <div class="footerRightLinks">
            <div class="footerSiteLinks">
                <div class="dot" #github></div>
                <a (mouseenter)="showDot('github')" (mouseleave)="showDontDot()" href="https://github.com/Trouble2701?tab=repositories" title="My Github" target="_blank">Github</a>
            </div>
            <div class="footerSiteLinks">
                <div class="dot" #link></div>
                <a href="https://www.linkedin.com/in/sven-plankenbichler-1765442a7/" title="My LinkedIn" target="_blank" (mouseenter)="showDot('link')" (mouseleave)="showDontDot()">LinkedIn</a>
            </div>
            <div class="footerSiteLinks">
                <div class="dot" #email></div>
                <a (mouseenter)="showDot('email')" (mouseleave)="showDontDot()" title="Send Email" href="#contact">Email</a>
            </div>
            <div class="footerSiteLinks">
                <div class="dot" #imprint></div>
                <a (click)="imprintOpen()" (mouseenter)="showDot('imprint')" (mouseleave)="showDontDot()" title="Show Impressum">{{notice}}</a>
            </div>
        </div>
    </div>
    <div class="copyrightMobile">&copy; Sven Plankenbichler 2024</div>
</footer>
