<footer>
    <div>
        <div class="footerName">
            <div class="footerLeftImg">
                <img src="assets/img/logo/initials.png"><img src="assets/img/logo/name.png">
            </div>
            <div class="footerLeft">
                <span>Web Developer</span>
                <span>Dresden Germany</span>
            </div>
        </div>
        <div class="copyright">&copy; Sven Plankenbichler 2024</div>
        <div class="footerRightLinks">
            <a href="https://github.com/Trouble2701?tab=repositories" title="My Github" target="_blank">Github</a>
            <a>LinkedIn</a>
            <a href="#contact">Email</a>
            <a>Legal Notice</a>
        </div>
    </div>
</footer>
